.create_modify_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px; /**/
}

.delete_bottom {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}

/*lista de producto*/
.product_list {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: white;
    margin-bottom:0px; /*el tema de nextui le agrega un margin-bottom y esto se lo quita*/
}

.product_list__titles {
    background-color: var(--cl-headers);
    flex: 0 1 auto;
    display: grid;
    grid-template-columns: 0.7fr 1.7fr 0.6fr 1fr 0.7fr 4px;
}

.product_list__titles>* {
    text-align: center;
    border-right: white 1px solid;

}

.product_list__products {
    /*El height: 1px es solo para que el scroll aparezca*/
    height: 300px;
    flex: 1 1 auto;
    overflow-y: scroll;
    background-color: var(--cl-bckgd-table-items);
}

.product_list__item {
    background-color: var(--cl-table-items);
    display: grid;
    grid-template-columns: 0.7fr 1.7fr 0.6fr 1fr 0.7fr;
    grid-template-areas: "code description cant price price_ref";
}

.product_list__item>* {
    text-align: center;
    border: white 1px solid;
}


.code {
    grid-area: "code";
}

.description {
    grid-area: "description";
}

.cant {
    grid-area: "cant";
}

.price {
    grid-area: "price";
}

.price_ref {
    grid-area: "price_ref";
}
/* 
.title{
    color: var(--cl-fn-title);
    margin-bottom: 30px;
} */

.center_loading{
    height: 300px;
    background-color: var(--cl-bckgd-table-items);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}