.create_modify_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.delete_bottom {
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}

/*lista de producto*/
.product_list {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.product_list__titles {
    background-color: var(--cl-headers);
    flex: 0 1 auto;
    display: grid;
    grid-template-columns: 0.17fr 0.22fr 0.22fr 0.17fr 0.22fr 4px;
    /* grid-template-columns: 0.17fr 0.22fr 0.22fr 0.17fr 0.22fr 0.22fr 4px; */
}

.product_list__titles>* {
    text-align: center;
    border-right: white 1px solid;

}

.product_list__products {
    /*El height: 1px es solo para que el scroll aparezca*/
    height: 300px;
    flex: 1 1 auto;
    overflow-y: scroll;
    background-color: var(--cl-bckgd-table-items);
}

.product_list__item {
    background-color: var(--cl-table-items);
    display: grid;
    grid-template-columns: 1.7fr 2.2fr 2.2fr 1.7fr 2.2fr;
    grid-template-areas: "ci name last_name active  superuser";
    /* grid-template-columns: 1.7fr 2.2fr 2.2fr 1.7fr 2.2fr 2.2fr; */
    /* grid-template-areas: "ci name last_name active secretary superuser"; */
}

.product_list__item>* {
    text-align: center;
    border: white 1px solid;
}


.ci {
    grid-area: "ci";
}

.name {
    grid-area: "name";
}

.last_name {
    grid-area: "last_name";
}

.active {
    grid-area: "active";
}

/* .secretary {
    grid-area: "secretary";
} */

.superuser {
    grid-area: "superuser";
}

.title{
    color: var(--cl-fn-title);
    margin-bottom: 30px;
}
.center_loading{
        height: 300px;
    background-color: var(--cl-bckgd-table-items);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}