/*sidebar*/
.sidebar {
 grid-row: 1/-1;
 display: flex;
 flex-direction: column;
 color:white;
 border-right: 1px solid white;
}

.sidebar__item {
  text-align: center;
  padding: 0.5rem 0.5rem;
  font-size: 32px;
  border: 1px solid white;
}

.sidebar__item--disable {
  background-color: #605454;
}

.sidebar__item--enable {
  background-color: var(--cl-bckgd-pages);
}

.sidebar__item--enable:hover {
  background-color: #222121;
}

.sidebar__item--enable:active {
  transform: scale(0.98);
}