/* titles and headers */
.header_container {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
}

.header_title {
    font-size: 32px;
}

.header_subtitle {
    font-size: 12px;
}

/* contents */
.body_container {
    padding-right: 50px;
    padding-left: 50px;
}

/*forms*/
.form_group {
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: 50% 40%;
}

.form_group__label {
    color: white;
    text-align: end;
    padding-right: 50px;

}

/*form errors*/
.square__form-error {
    width: 100%;
    font-weight: bold;
    color: black;
    background-color: var(--cl-error);
    padding-left: 6%;
    font-size: 0.75rem;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}


/*mensajes exito o error*/
.footer_container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 100%;
}

.msj_success {
    background-color: var(--cl-headers);
    color: white;
    height: 20px;
}

.msj_error {
    background-color: var(--cl-error);
    color: white;
    height: 20px;
}

/*botón*/
.button_group {
    display: flex;
    justify-content: center;
}