.container {
    width: 100%;
    height: 100vh;
    display: grid;
    padding-top: var(--navbar-height);
    grid-template-columns: minmax(0, 8%) minmax(0, 1.3fr) minmax(0, 0.7fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);

}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 100px;
}

