.container {
  width: 100%;
  height: 100vh;
  padding-top: var(--navbar-height);
  color: white;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: min-content minmax(56.47%, 1fr) min-content min-content;
  grid-template-areas:
    "client_info client_info pay_info pay_info"
    "product_list product_list product_list product_list"
    "buttom_form buttom_form buttom_form buttom_form"
    "options options options options";
}

.container>* {
  border: 1px solid rgb(255, 255, 255);
}

/*información del cliente*/
.client_info {
  grid-area: client_info;
  display: flex;
  flex-direction: column;
}

.client_info__title {
  background-color: #164F4F;
  text-align: center;
  flex: 0 1 auto;
  font-size: 1.13rem;
}

.client_info__content {
  padding: 3px 10px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.88rem;
}

/*información del pago*/
.pay_info {
  grid-area: pay_info;
  padding: 3.5px 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content min-content minmax(min-content, auto) minmax(min-content, auto);
}

.pay_info__title {
  color:white;
  grid-column: 1 /2;
}

.pay_info__count {
  color:white;
  grid-column: 2 /-1;
  justify-self: self-end;
}

.pay_info__title--aling {
  color:white;
  align-self: flex-start;
}

.pay_info__count--dollar {
  line-height: 1.56rem;
  font-size: 1.75rem;
  color: #279D14;
  font-weight: bold;
}

.pay_info__count--total {
  color:white;
  line-height: 1.56rem;
  font-size: 30px;
  font-weight: bold;
}

/*lista de producto*/
.product_list {
  grid-area: product_list;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.product_list__titles {
  background-color: #164F4F;
  flex: 0 1 auto;
  display: grid;
  grid-template-columns: 1.2fr 2.9fr 0.98fr 1.6fr  2.0fr 4px;
  /* grid-template-columns: 1.2fr 2.9fr 0.98fr 1.6fr 1.0fr 2.0fr 4px; */
}

.product_list__titles>* {
  text-align: center;
  border-right: white 1px solid;

}

.product_list__products {
  /*El height: 1px es solo para que el scroll aparezca*/
  height: 1px;
  flex: 1 1 auto;
  overflow-y: scroll;
  background-color: #1B1A1A;
}

.product_list__item {
  background-color: #504F4F;
  display: grid;
  grid-template-columns: 1.2fr 2.9fr 0.98fr 1.6fr 2.0fr;
  grid-template-areas: "code description cant price subtotal";
  /* grid-template-columns: 1.2fr 2.9fr 0.98fr 1.6fr 1.0fr 2.0fr; */
  /* grid-template-areas: "code description cant price ref subtotal"; */
}

.product_list__item>* {
  text-align: center;
  border: white 1px solid;
}

.code {
  grid-area: "code";
}

.description {
  grid-area: "description";
  font-size: 12px;
}

.cant {
  grid-area: "cant";
}

.price {
  grid-area: "price";
}

/* .ref {
  grid-area: "ref";
} */

.subtotal {
  grid-area: "subtotal";
}

/*Botón para búsqueda de usuario y formulario de descuento*/
/* .buttom_form {
  grid-area: buttom_form;
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 0.75rem;
  padding: 3px 10px;
} */
.buttom_form {
  grid-area: buttom_form;
  font-size: 0.75rem;
  padding: 3px 10px;
}


.buttom_form__ci {
 display: flex; 
 flex-direction: row;
}

/* .buttom_form__discount {
  justify-self: flex-end;
}
 */

.buttom_form__box {
  background-color: #CFD6D4;
  border-style: none;
  width: 150px;
  font-size: 0.75rem;
  color:black;
}

/*Botones*/
.options {
  grid-area: options;
  display: flex;
}

.options__items {
  text-align: center;
  font-size: 50px;
  padding: 15px;
  flex: 1 1 auto;
  border: 1px solid;
  background-color: var(--cl-bckgd-pages);
}

.options__items--disable {
  background-color: #605454;
}
.options__items--enable {
  background-color: var(--cl-bckgd-pages);
}

.options__items:active {
  transform: scale(0.98);
}

.options__items:hover {
  background-color: #222121;
}

/*responsive*/
/*coloca los botones de opciones de manera scroll*/
@media only screen and (max-width: 960px) {
  .options {
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 720px) {
  .container {

    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: min-content min-content minmax(27%, 1fr) min-content min-content;
    grid-template-areas:
      "client_info"
      "pay_info"
      "product_list"
      "buttom_form"
      "options";
  }

  /*oculto los titulos*/
  .product_list__titles {
    display: none;
  }

  .product_list__item {
    grid-template-columns: 1fr;
    grid-template-areas:
      "code"
      "description"
      "cant"
      "price"
      /* "ref" */
      "subtotal";
    padding: 3px 10px;
  }

  .product_list__item>* {
    border: none;
    text-align: left;
  }

  .code::before {
    content: "Código: ";
  }

  .description::before {
    content: "Descripción: ";
    font-size: 16px;
  }

  .cant::before {
    content: "Cant: ";
  }

  .price::before {
    content: "Precio: ";
  }

  /* .ref::before {
    content: "Ref: ";
  } */

  .subtotal::before {
    content: "Subtotal: ";
  }

  .buttom_form {
    grid-template-columns: 1fr;
  }

  /* .button_form__button  */
  .buttom_form__ci{
    margin: 10px 0px;
  }

  .buttom_form__discount {
    margin: 10px 0px;
    justify-self: flex-start;
  }
}

.square__form-error {
  font-weight: bold;
  color: black;
  background-color: var(--cl-error);
  padding: 0px 20px;
  font-size: 0.75rem;
  text-align: center;
}