.buttom_form__buttom {
    padding: 0 40px;
    border: white 1px solid;
    background-color: #302F2F;
}

.buttom_form__buttom:hover {
    background-color: #222121;
}

.buttom_form__buttom:active {
    transform: scale(0.98);
}