.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 50%;
}

.form_select {
    width: 50%;
    margin-bottom: 5px;
}

.form_group {
    
    display: grid;
    grid-template-columns: 55% min-content;
    grid-template-rows:  min-content min-content;
}

.square__form-error {
    /* height: 25px; */
    width: 100%;
    font-weight: bold;
    /* margin-bottom: 16.5px; */
    color: black;
    background-color: var(--cl-error);
    margin-top: 5px;
    padding-left: 6%;
    font-size: 0.75rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    /* padding-left:30px; */
}

.square__form {
    width: 100%;
    background-color: var(--cl-form);
    border-style: none;
    font-size: 1.2rem;
    color: black;
    
    /* margin-bottom: 10px;  */
    padding: 0px 30px;
}